@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

.App {
  margin: auto;
  width: 23.4375rem;
  display: flex;
  padding-top: 3.125rem;
  flex-direction: column;
  align-items: center;
  gap: 2.554rem;
}
.logo {
  width: 5.4165rem;
  height: 3.321rem;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
